/*Add comments*/

body {
    font-family: 'Dosis', sans-serif;
    margin: 0px;
    color: #262626;
}

a {
    color: inherit;
}

.header {
    height: 60px;
    background-color: #ffe8c5;
    display: flex;
    justify-content: space-between;
}

.navigation-options li {
    display: inline;
    margin-right: 15px;
    line-height: 1.5;
}

.logo {
    margin: 0 0 0 10px;
    float: left;
    font-size: 1.5em;
    letter-spacing: 7px;
    line-height: 2.3;
}

.logo:hover {
    color: #f7b552;
}

.fa-question-circle {
    margin-left: auto;
}

.header i {
    font-size: 1.2em;
}

.hero {
    position: relative;
    z-index: 0;
    overflow: hidden;
    min-height: 700px;
    max-height: 1000px;
}

.rotate-background {
    width: 100%;
    height: 98%;
    max-height: 1000px;
    overflow: hidden;
    transform: rotate(9deg);
    border-bottom-left-radius: 3rem;
    position: absolute;
    top: -30%;
    left: -1rem;
    z-index: -1;
    border-radius: 3rem;
    background: linear-gradient(60deg, #e29e39 0, #f1bd70 100%);
    background-color: #f1bd70;
}

.question-mark {
    width: 50vw;
    height: 100vh;
    position: relative;
    display: inline-block;
}

.question-mark img {
    width: 80%;
    position: relative;
    left: 20px;
    top: 5%;
}

.hero svg {
    left: 0px;
    position: absolute;
    height: 100%;
    width: 100%;
}

.linked-text {
    text-decoration: underline;
    color: #0000EE;
    cursor: pointer;
}

.homepage-intro-text {
    width: 49%;
    display: inline-block;
    position: absolute;
    margin-top: 50px;
    height: 100vh;
}

.homepage-intro-text h1 {
    font-size: 3.5em;
    margin-bottom: 10px;
}

.entry-form {
    text-transform: uppercase;
    display: block;
    width: 70%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    font-size: 2em;
    color: white;
    background-color: #1f4770;
    padding-left: 5%;
}

.form-submit,
.lets-play-button {
    font-family: 'Dosis', sans-serif;
    letter-spacing: 7px;
    display: block;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    font-size: 2em;
    color: black;
    background-color: #ffe8c5;
    padding-left: 20px;
    margin-top: 10px;
    box-shadow: -7px 8px 1px 0px rgba(87, 89, 89, 1);
    width: 75%;
}

@media (max-width: 768px) {

    .homepage-intro-text p {
        padding: 0 10px;
    }

    .hero svg {
        display: none;
    }

    .question-mark {
        display: none;
    }

    .homepage-intro-text {
        width: 100%;
    }

    .homepage-intro-text h1,
    .homepage-intro-text p {
        text-align: center;
    }

    .entry-form {
        margin: 0 auto;
    }

    .form-submit {
        margin: 10px auto;
    }
}

.shadow-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
}

.log-in,
.log-out,
.fa-question-circle,
.leaderboard {
    cursor: pointer
}

.log-in:hover,
.log-out:hover,
.fa-question-circle:hover,
.leaderboard:hover {
    color: #f7b552
}

.login-modal,
.logout-modal {
    position: absolute;
    top: 150px;
    width: 60%;
    background-color: rgb(245, 203, 133);
    left: 50%;
    border-radius: 20px;
    padding: 10px 0 20px 0;
    transform: translateX(-50%);
    z-index: 3;
}

input[name="login"] {
    margin: 20px auto;
    background-color: #ffe8c1;
    color: black;
}

.close-button {
    display: inline;
    float: right;
    margin: 2px 10px;
    cursor: pointer;
    color: white;
}

.instructions-modal p {
    padding: 0 10px;
}

#login-container,
#logout-container,
#instructions-box {
    display: none;
}

#logout-container {
    display: none;
}

.login-form {
    margin: 10px auto;
}

.logout-modal .warning-text {
    color: #ff5e5e;
    margin: 20px;
}

.cancel-link {
    text-decoration: underline;
    cursor: pointer;
}


/*Qu_home*/

.welcome-message {
    margin-left: 5%;
    font-size: 3.5em;
}

.options {
    display: flex;
    justify-content: space-around;
}

.new-game-option,
.leaderboard-option,
.continue-game-option {
    display: inline-block;
    border-radius: 5px;
    height: 30vw;
    width: 30vw;
    -webkit-transition: margin 0.5s ease-in-out;
    transition: margin 0.5s ease-in-out;
}

.new-game-option:hover,
.leaderboard-option:hover,
.continue-game-option:hover {
    margin-top: 8px
}


@media (max-width: 768px) {
    .new-game-option,
    .leaderboard-option,
    .continue-game-option {
        height: 40vw;
        width: 40vw;
    }
}

.new-game-option {
    background-color: #1f4770;
}

.leaderboard-option {
    background-color: #4a3e2d;
}

.continue-game-option {
    background-color: #85683e;
}

.new-game-option p,
.continue-game-option p,
.leaderboard-option p {
    display: block;
    text-align: center;
    font-size: 4.5vw;
    text-decoration: none;
    color: white;
    margin-top: 5%;
}

.new-game-option i,
.continue-game-option i,
.leaderboard-option i {
    display: block;
    text-align: center;
    font-size: 9vw;
    text-decoration: none;
    color: white;
    margin-top: 30%;
}


/*QU new*/

.intro-text {
    width: 85%;
    margin-left: 5%;
}

.lets-play-button {
    text-align: center;
    margin: 0 auto;
    width: 40%;
    margin-top: 8%;
    cursor: pointer;
}

@media (max-width: 768px) {
    .lets-play-button {
        width: 80%;
    }
}

/*Questions*/

.question-container {
    background-color: #f1bd70;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #f1bd70;
    margin: 0 auto;
}

.question-number {
    margin: 0 0 0 5%;
    font-size: 3.5em;
    padding-top: 20px;
}

.question-text {
    font-size: 1.5em;
    width: 85%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
}

.question-answer-form .entry-form {
    width: 50%;
    margin: 10px auto;
}

.question-answer-form .form-submit {
    width: 52%;
    margin: 0 auto;
    padding: 0;
}

.answer-pop-up-container {
    position: absolute;
    top: 150px;
    width: 60%;
    background-color: rgba(31, 71, 112, 0.95);
    left: 50%;
    border-radius: 20px;
    padding: 10px 0 20px 0;
    transform: translateX(-50%);
}

.answer-pop-up-container h2 {
    display: inline;
}

@media (max-width: 768px) {
    .answer-pop-up-container {
        width: 80%
    }
}

.answer-pop-up-container h2 {
    margin: 0 0 0 5%;
    color: white;
    font-size: 2rem;
}

.answer-pop-up-container p {
    text-align: center;
    color: white;
}

.answer-pop-up-container .form-submit {
    padding: 0 20px;
    margin: 0 auto;
    font-size: 1.1rem;
    height: 40px
}

/*end*/

.end-message {
    padding: 20px 0 0 0;
    text-align: center;
    margin: 0;
}

.end-message+h2 {
    margin: 0;
    text-align: center;
    font-size: 2.5em;
    padding-bottom: 10px;
}

.leaderboard-container {
    width: 80%;
    top: 240px;
    margin-bottom: 20px
}

.leaderboard-container table {
    color: white;
    width: 100%;
}

.leaderboard-container th {
    width: 33%;
}

.leaderboard-container tr:first-of-type {
    font-size: 2em;
}

.leaderboard-container tr:nth-of-type(2) {
    font-size: 1.5em;
}

.leaderboard-container tr:nth-of-type(3) {
    font-size: 1.2em;
}


@media (max-width: 768px) {
    .leaderboard-container tr {
        font-size: 0.8em;
    }

    .leaderboard-container tr:first-of-type {
        font-size: 1.3em;
    }

    .leaderboard-container tr:nth-of-type(2) {
        font-size: 1.1em;
    }

    .leaderboard-container tr:nth-of-type(3) {
        font-size: 1em;
    }

}

/*Leaderboard*/

.leaderboard-message {
    font-size: 3.5em;
    padding-bottom: 20px
}
