{% extends 'base.html' %}
{% block content %}

            <svg height="140" width="500">
                  <ellipse cx="40%" cy="5%" rx="24" ry="14" style="fill:#0f4672"></ellipse>
                  <ellipse cx="5%" cy="7%" rx="24" ry="14" style="fill:#0f4672"></ellipse>
                  <ellipse cx="4%" cy="60%" rx="24" ry="14" style="fill:#0f4672"></ellipse>
                  <ellipse cx="80%" cy="75%" rx="24" ry="14" style="fill:#0f4672"></ellipse>
                </svg>
            <div class="question-mark">
                <img src="{{ url_for('static', filename='imgs/question-mark.png') }}"></img>
            </div>
            <div class="homepage-intro-text">
                <h1>Riddles Game</h1>
                <p>This is some intro text about the Riddle Game for you to read</p>
                {% with messages = get_flashed_messages(category_filter=["user"]) %}
                    {% if messages %}
                        <p>{{ messages[0] }}<br><strong>{{ messages[1] }}<span class="linked-text" onclick="showLogin()">{{ messages[2] }}</span></strong></p>
                    {% endif %}
                {% endwith %}
                <form method="POST">
                    <input class="entry-form" maxlength="15" placeholder="USERNAME" type="text" name="register" required/>
                    <input class="form-submit" type="submit" name="register" value="LET'S PLAY" />
                </form>
            </div>
            
{% endblock %}
