{% extends 'base-questions.html' %} {% block content %}

<h1 class="end-message leaderboard-message">Leaderboard</h1>

</div>
<div class="arrow"></div>

<div class="leaderboard-container answer-pop-up-container">
    <div class="answer-pop-up">
        <table>
            {% for top_user in top_users %}
            <tr>
                <th>{{ top_user.username }}</th>
                <th>{{ top_user.score }} / 5</th>
                <th>{{ top_user.total_time }}</th>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}