{% extends 'base.html' %} {% block content %}

<!--New Game Intro-->
<h1 class="welcome-message">It's a New Game {{ username }}</h1>
<div class="intro-text">
    <p><strong>Get ready to play the Riddles Game</strong>
        <br><br> You'll be up against 5 random riddles, you have your insight and intelligence to correctly guess their answers. But think thoroughly, as you only get <strong>one shot</strong> to guess the correct answer.
        <br><br> Don't take too long! As soon as each question is shown, a timer starts. It only stops once you've answered that question. At the end of the game, the time taken to answer each question is totalled up. The timer runs as long as the riddle isn't answered. So feel free to leave the game and come back, but remember the timer won't wait for you.
        <br><br> Can you make the leaderboard? If you final score and total time is good enough, you'll make the prestigious Riddles Game leaderboard.
        <br><br>
        <strong>Good Luck!</strong>
    </p>
</div>
<!--Start Game Button-->
<form action="{{ url_for('questions', qu_num = session['current_qu_num']) }}">
    <input class="lets-play-button" type="submit" value="START GAME" />
</form>
{% endblock %}
