{% extends 'base-questions.html' %} {% block content %}
    <!--Riddle-->
        <h1 class="question-number">Question {{ qu_num }}</h1>

        <p class="question-text">{{ question.question }}</p>

    </div>
    <div class="arrow"></div>
    
    
    {% if next_qu == qu_num %}
    <!--Answer Form-->
    <div class="question-answer-form">
        <form method="POST">
            <input class="entry-form" placeholder="ANSWER" type="textarea" name="answer" required />
            <input class="form-submit" type="submit" name="submit" />
        </form>
    </div>
    
    {% endif %} {% if next_qu != qu_num %}
    <!--Correct Answer Modal-->
    <div class="answer-pop-up-container">
        <div class="answer-pop-up">
            {% if correct: %}
                <h2>That's Correct!</h2>
                <p>The Correct Answer Is: {{ correct_answer }}</p>
            {% else %}
                <h2>Sorry, That's Wrong</h2>
                <p>The Correct Answer Is: {{ correct_answer }}</p>
            {% endif %}
            <form action="{{ url_for('questions', qu_num = next_qu) }}">
                <input class="form-submit" type="submit" value="NEXT QUESTION" />
            </form>
        </div>
    </div>
    </div>
    {% endif %}

 {% endblock %}